<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Foster a pet</h1>

<% @pets.each do |pet| %>
	<div class="entry">
		<%= image_tag(pet.image_url) %>
		<h3><%= pet.name %></h3>
		<%= sanitize pet.coloring %>
		<%= sanitize pet.habits %>
		<div class="price_line">
			<span class="price"><%= pet.age %></span>
		</div>
	</div>
<% end %>
