<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Foster a pet</h1>


<table>
  <tr class="pretty">
  	<th>Sort by:</th>
    <th><%= sortable "name" %></th>
    <th><%= sortable "age" %></th>
    <th><%= sortable "breed" %></th>
  </tr>
</table>
<% @pets.each do |pet| %>
	<% if pet.status == 'Available' %>
	<div class="entry">
		<%= image_tag(pet.image_url) %>
		<h3><%= pet.name %></h3>
		<p>Coloring: <%= strip_tags(pet.coloring) %><br />
		Habits: <%= strip_tags(pet.habits) %></p>
		<div class="age_line">
			<span class="age">
				<%= sprintf("Age: %d", pet.age) %><br />
				<%= sprintf("Breed: %s", pet.breed) %>
			</span>
			<%= button_to 'Consider Adopting', consider_adopts_path(pet_id: pet), id: "consider_button", remote: true %>
			<%= button_to 'Adopt!', adopt_path(pet: pet) %>
		</div>
	</div>
	<% end %>
<% end %>
