<!DOCTYPE html>
<html>
<head>
  <title>Pets2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<div id="logoPad"><%= image_tag("logo.jpg") %></div>
		<%= @page_title || "Foster a Pet" %>
	</div>
	<div id="columns">
		<div id="side">
			<% if @consider %>
				<%= hidden_div_if(@consider.consider_adopts.empty?, id: 'consider') do %>
					<%= render @consider %>
				<% end %>
			<% end %>
			<%= link_to 'Home', fosterhome_path, id: "link" %><br />
			<%= link_to 'Add pet to list', pets_path, id: "link" %><br />
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
	<footer>
		<p>&copy; Timm Nygren. No rights reserved. Credit to <a href="http://en.wikipedia.org/wiki/File:Bouvier_Bernois_BE.jpg">Ocmey</a>, 
			<a href="http://en.wikipedia.org/wiki/File:Canadian_Golden_Retriever.jpeg">Siavash Ghazvinian</a>, 
			and <a href="http://en.wikipedia.org/wiki/File:Thor_minpin.jpg">Ohsaywhat</a> for pictures.</p>
	</footer>
</body>
</html>
