<%= form_for(@adopted_pet) do |f| %>
  <% if @adopted_pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adopted_pet.errors.count, "error") %> prohibited this adopted_pet from being saved:</h2>

      <ul>
      <% @adopted_pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.number_field :pet_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
