<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= sprintf('This is a test') %>
  <%= @adopted_pet.pet_id %>
</p>

<%= link_to 'Edit', edit_adopted_pet_path(@adopted_pet) %> |
<%= link_to 'Back', adopted_pets_path %>
