<!DOCTYPE html>
<html>
<head>
  <title>Pets</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag    "pet", media: "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
